{% extends 'base.html.twig' %}

{% block title %}FCS{% endblock %}

{% block body %}
<style>
    *{font-weight: lighter;}
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .titreAdress{margin-bottom:1em; font-weight: lighter;}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
      <a href="/home" class="d-flex align-items-center mb-2 md-0 me-md-auto text-dark text-decoration-none">
        <img style="margin-left: 20px; margin-right: 20px;" class="bd-placeholder-img rounded-circle" width="50" height="50" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.6435-9/150198245_401599697624263_6382796652237736084_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=_v5Vmsjmg7cAX-6KpUq&_nc_ht=scontent-cdt1-1.xx&oh=00_AT8wNPnd6vDTAfJMvQUZglwUdhGGNoo5kkeoirmGFEL_7w&oe=6239907A" alt="Logo food culture street">   
        <span class="fs-4">Food Culture Street</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/product/show" class="nav-link">Tous les produits</a></li>
        <li class="nav-item"><a href="/cart" class="nav-link">Panier</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Déconnexion</a></li>
      </ul>
</header>
<div class="example-wrapper">
    <h3 class="titreAdress">Merci de valider votre adresse :</h3>

        {{ form_start(adress_form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(adress_form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(adress_form.date) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(adress_form.adress) }}
                    {{ form_row(adress_form.adress2) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(adress_form.city) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(adress_form.state) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_row(adress_form.zip) }}
                </div>
                <div style="display:none" class="col" id="some-custom-id">
                    {{ form_row(adress_form.idUser) }}
                </div>
                <div style="display:none" class="col" id="some-custom-id">
                    {{ form_row(adress_form.products) }}
                </div>
            </div>
        {{ form_end(adress_form) }}

    <style>
        input#adress_form_idUser{display: none}
        input#adress_form_products{display:none}
    </style>
{% endblock %}
